ul {
    list-style: none;
}
.infoNote {
    font-size: smaller;
    font-style: italic;
}

.output {
    display: block;
    background: yellow;
    padding: 20px;
    margin-bottom: 10px;
}

fieldset {
    margin: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}
#submitButton{  
    margin-top: 20px;
}
